/* Overall */
/* --------------------------------------- */
/* Change the font of the website */
body {
  font-family: 'Sen', sans-serif;
}

.intro {
  text-align: center;
}

/* Time Container*/
/* --------------------------------------- */
.time-container {
  text-align: center;
  font-size: 50px;
}

/* Message Container */
/* --------------------------------------- */
.message-container {
  text-align: center;
  font-size: 50px;
}

/* GitHub Button */
/* --------------------------------------- */
#github-btn {
  width: 140px;
  background-color: #573fc4;
}

#github-btn:hover {
  background-color: red;
}

#github-btn a {
  text-decoration: none;
  color: white;
}


/* Styles for buttons */
/* --------------------------------------- */
button {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  background-color: #573fc4;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Hover effect for each button */
button:hover {
  background-color: red;
}
