/* Overall */
/* --------------------------------------- */
/* Change the font of the website */
body {
  font-family: 'Sen', sans-serif;
  background-color: #f0f0f0;
}

.intro h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: #50045c;
}

.intro {
  text-align: center;
}

/*
  CSS Varialbles. This turned out to be really useful! I learned from here:
  https://medium.com/@fionnachan/dynamic-number-of-rows-and-columns-with-css-grid-layout-and-css-variables-cb8e8381b6f2
*/
/* --------------------------------------- */
:root {
  --circleColor: white;
}

/* Time Container*/
/* --------------------------------------- */
.time-container {
  text-align: center;
  font-size: 100px;
  margin-bottom: -50px;
  margin-top: -50px;
  font-family: 'Roboto Mono', monospace;
}

/* Message Container */
/* --------------------------------------- */
.message-container {
  text-align: center;
  font-size: 60px;
  margin-top: -40px;
  margin-bottom: -50px;
}

/* Checkmarks Container */
/* --------------------------------------- */
.checkmarks-container {
  display: flex;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  border-style: solid;
  border-color: coral;
}

.circle-color-background {
  background-color: var(--circleColor);
}

/* Control Container */
/* --------------------------------------- */
.control-container {
  display: flex;
  justify-content: center;
}

/* Styles for Control buttons */
/* --------------------------------------- */
.control-button {
  font-size: 3.5rem;
}

.fa {
  margin-top: -40px;
  padding: 80px;
}

.fa-play-circle {
  color: #70d631;
}

.fa-play-circle:hover {
  color: #419e08;
}

.fa-pause-circle {
  color: #7b6aba;
}

.fa-pause-circle:hover {
  color: #644db8;
}

.fa-refresh {
  color: #f24b4b;
}

.fa-refresh:hover {
  color: #a32f2f;
}


/* Adjust Container */
/* --------------------------------------- */
.session-container, .break-container, .long-break-container {
  display: flex;
  justify-content: space-evenly;
}

table {
  margin: 0 auto;
}

.adjust-text {
  padding-right: 50px;
  font-size: 25px;
  font-weight: bold;
}

.adjust-table p {
  font-weight: bold;
}

.adjust-decrease, .adjust-increase {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
}

.adjust-table .fa {
  font-size: 3.5rem;
  display: inline;
}

.adjust-increase {
  color: #558c07;
}

.adjust-decrease {
  color: #d9993f;
}

.adjust-table button {
  background-color: #aa65db;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
}

.adjust-table button:hover {
  background-color: #B57EDC;
}

.session-text, .break-text, .long-break-text {
  font-size: 25px;
}

/* GitHub Button */
/* --------------------------------------- */
#github-btn {
  width: 140px;
  background-color: #573fc4;
  font-weight: bold;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
}

#github-btn:hover {
  background-color: #2807b8;
}

#github-btn a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1000px) {

  .time-container {
    text-align: center;
    font-size: 150px;
    margin-bottom: -50px;
    font-family: 'Roboto Mono', monospace;
  }

  .message-container {
    text-align: center;
    font-size: 90px;
    margin-top: -40px;
    margin-bottom: -50px;
  }

  .adjust-text {
    padding-right: 50px;
    font-size: 50px;
    font-weight: bold;
  }

  .session-text, .break-text, .long-break-text {
    font-size: 35px;
  }

  .intro h1 {
    font-size: 70px;
    text-align: center;
  }

  .intro p, .intro h2  {
    font-size: 50px;
    text-align: center;
  }

  .control-button {
    font-size: 5rem;
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    border-style: solid;
    border-color: coral;
  }

  #github-btn {
    font-size: 40px;
    width: 250px;
  }
}